.manage-doctor-container {
  padding: 0 15px;

  .manage-doctor-title {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .save-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    background-color: orange;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  // .more-info {
  //   display: flex;
  //   gap: 15px;
  //   padding-bottom: 15px;

  //   .content-left {
  //     width: 40%;
  //   }
  //   .content-right {
  //     width: 60%;
  //   }
  // }
}
