.doctor-detail-container {
  height: 500px;

  .intro-doctor {
    display: flex;
    margin: 0 100px;

    .content-left {
      width: 120px;
      height: 120px;
      background: url("../../../assets/outstandingDoctor/anh-dai-dien-bs.jpg")
        center center no-repeat;
      border-radius: 50%;
      margin: 10px 20px;
    }
    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .up {
        font-size: 20px;
        font-weight: 600;
      }

      .down {
        padding-top: 10px;
      }
    }
  }

  .schedule-doctor {
    margin: 0 100px;
    display: flex;
    height: 200px;
    border: 1px solid red;
    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
    }
  }

  .detail-info-doctor {
    background-color: #f9f9f9;
    padding: 10px 100px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}
