.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-contact {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 700px;
    .contact-title {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      padding-bottom: 15px;
      font-size: 25px;
      line-height: 1.3;
      font-weight: bold;
      color: #555;
    }

    .contact-text {
      margin-bottom: 30px;
      color: #666;
    }

    .contact-input {
      padding: 0 !important;
      label {
        font-weight: 600;
      }
    }
    .gender {
      display: flex;
      gap: 10px;
    }
  }
}
