.footer-bottom {
  background-color: #64b9e5;
  color: #fff;
  padding: 10px;
}

.homepage-footer {
  margin-top: 25px;
  background-color: #efefef;
  display: flex;
  justify-content: center;

  .footer-container {
    margin: 30px 100px;
    display: flex;
    width: 100%;

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .footer-link {
        color: #45c3d2;
        text-decoration: none;
        padding: 5px 0;
        font-size: 15px;
      }
    }
    .left {
      flex: 6;
      .footer-logo {
        background-image: url("../../assets/Logo.svg");
        height: 50%;
        width: 50%;
        background-repeat: no-repeat;
        margin-left: -20px;
        cursor: pointer;
      }
      // .company-title {
      //   font-weight: bold;
      //   margin: 5px 0;
      // }
    }

    .center {
      flex: 3;
    }

    .right {
      flex: 3;
      .company-info {
        .info-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          h6 {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
