//reset slick slider css
.slick-prev {
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background: #eceaea !important;
  }
}

.slick-next {
  right: -10px !important;
  z-index: 100 !important;
  height: 48px !important;
  width: 44px !important;
  border: 2px solid #d7d7d7 !important;
  background-color: #fff !important;
  &:hover {
    background: #eceaea !important;
  }
}

.slick-disabled {
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: red !important;
  // content: "\e060" !important;
}

.section-share {
  // &.section-specialty {
  //   background-color: #f5f5f5;
  // }

  // &.section-outstanding-doctor {
  //   background-color: #f5f5f5;
  // }

  &.section-medical-facility {
    background-color: #f5f5f5;
  }

  &.section-about {
    height: 500px !important;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  .section-body {
    .section-customize {
      .bg-image {
        height: 150px;
        width: 278px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;

        // &.section-specialty {
        //   background-image: url("../../assets/specialty/co-xuong-khop.jpg");
        // }

        // &.section-medical-facility {
        //   background-image: url("../../assets/facility/benh-vien-thu-cuc.jpg");
        // }

        &.section-outstanding-doctor {
          //background-image: url("../../assets/outstandingDoctor/anh-dai-dien-bs.jpg");
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        &.section-handbook {
          background-image: url("../../assets/handbook/handbook.jpg");
        }
      }
    }
  }
}

.section-outstanding-doctor {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .section-customize {
    padding: 5px;
    cursor: pointer;
    .customize-border {
      height: 225px;
      padding: 20px 5px;

      border: 1px solid #64b9e5;
      .outstanding-doctor-text {
        color: black;
        &:hover {
          color: #64b9e5;
        }
      }
    }
  }
}

.section-share {
  height: 330px;
  // border: 1px solid red;

  .section-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        padding: 10px 15px;
        display: block;
        border: none;
        outline: none;
        background-color: #ebebeb;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
          color: white;
          background-color: #f7d800;
        }
      }
    }
  }
}

.home-footer {
  text-align: center;
  padding-top: 8px;
  a {
    text-decoration: unset;
  }
}

.section-about {
  padding: 0 100px;
  .section-about-header {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }
  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .content-left {
      width: 60%;
    }

    .content-right {
      width: 40%;
      p {
        font-style: italic;
        text-align: justify;
        padding: 15px;
      }
    }
  }
}
